<div class="side-bar-header">
  <div class= "boxs">
    <div class="name-box">
      <a href="#">non</a>
    </div>
    <div class="text-box">
      <a href="#">chatを作成する</a>
    </div>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <a href="#">焼肉会</a>
  </div>
</div>